@import 'pc/common/variable.styl'
.record-details

    .navigator-container
        width 19%

    .floated
        width 80%

    .pager
        padding $gap-medium 0
        border-top 1px solid #eee

    .trade-record-money
        text-align right
        padding-right 30px

    .trade-record-note
    .balance-record-note
        text-align left
    .no-record
        padding 200px
        text-align center
        border-top 1px solid $brand-bg
