
.GSX_TextTip {
    position: fixed;
    //display: inline-table;
    bottom: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-width: 280px;
    width: 100%;
    border-radius: 4px;
    overflow: hidden;

    color: #FFF;
    padding: 5px 10px;
    font-size: 14px;
    line-height: 22px;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.6);
}