@import 'pc/common/variable.styl'

.bind-bank-card

    .safe-tip
        margin-bottom $gap-huge

    .icon-info-circle
        margin-right $gap-small

    > .action

        margin-top 2 * $gap-huge

        > .btn-submit
            width 255px

        > .service-agreement
            margin-bottom $gap-medium