@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?l1mn3v');
  src:  url('fonts/icomoon.eot?l1mn3v#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?l1mn3v') format('truetype'),
    url('fonts/icomoon.woff?l1mn3v') format('woff'),
    url('fonts/icomoon.svg?l1mn3v#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-angle-down:before {
  content: "\e900";
}
.icon-angle-up:before {
  content: "\e901";
}
.icon-caret-down:before {
  content: "\e902";
}
.icon-caret-left:before {
  content: "\e903";
}
.icon-caret-right:before {
  content: "\e904";
}
.icon-caret-up:before {
  content: "\e905";
}
.icon-check-circle:before {
  content: "\e906";
}
.icon-check-o:before {
  content: "\e907";
}
.icon-check:before {
  content: "\e908";
}
.icon-chevron-left:before {
  content: "\e909";
}
.icon-chevron-right:before {
  content: "\e90a";
}
.icon-circle-o:before {
  content: "\e90b";
}
.icon-info-circle:before {
  content: "\e90c";
}
.icon-marker:before {
  content: "\e90d";
}
.icon-minus-circle:before {
  content: "\e90e";
}
.icon-minus:before {
  content: "\e90f";
}
.icon-phone-circle:before {
  content: "\e910";
}
.icon-phone:before {
  content: "\e911";
}
.icon-plus-circle:before {
  content: "\e912";
}
.icon-plus:before {
  content: "\e913";
}
.icon-question-o:before {
  content: "\e914";
}
.icon-search:before {
  content: "\e915";
}
.icon-times-circle:before {
  content: "\e916";
}
.icon-times-o:before {
  content: "\e917";
}
.icon-times:before {
  content: "\e918";
}

