@import 'pc/common/variable.styl'

.account-type-selector

    display inline-block
    text-align left

    .radio + .radio
        margin-left 20px !important

    .description
        margin-top 10px
        padding-left 25px
        position relative

        .icon-info-circle
            font-size 16px
            position absolute
            left 0
            top 4px
