@import 'pc/common/variable.styl'

.company-bind-card-form

    .group
        > .label
            width 100px

    .input
        width 235px

    .dropdown
        width 118px !important

    .dropdowns
        display inline-block
        vertical-align middle

        + .inline
            vertical-align middle


    .bank-select
        width 235px !important

        img
            width 24px
            height 24px
            margin-right $gap-medium
            vertical-align middle

