@import 'pc/common/variable.styl'

.pay-bank-card-list

    > .bank-card
        margin-right $gap-large
        margin-bottom $gap-large

    > .bind-card

        background-color #FFF
        border 1px dashed $brand-border
        border-radius 14px
        color $brand-muted
        display inline-block
        cursor pointer
        padding 87px 107px
        vertical-align top

        .icon-plus
            font-size 200%
            margin-right $gap-medium
            vertical-align middle
