@import 'pc/common/variable.styl'

.person-bind-card-form

    .group
        > .label
            width 100px

    .input
        width 235px

    .dropdowns
        display inline-block
        vertical-align middle

        + .inline
            vertical-align middle

    .dropdown,
    .user-name-input
        width 118px !important

    .bank-select
        width 235px !important

        img
            width 24px
            height 24px
            margin-right $gap-medium
            vertical-align middle

    .verify-code-input
        width 129px

    .code-button
        margin-left $gap-medium