
@import 'mobile/common/variable.styl'

.bank-info-select
    color #5b5a55

    img
        width 24px
        height 24px
        vertical-align middle

    /*.dropdown*/
        /*width 460px*/

    .each-pay,
    .each-day
        padding-left 15px

    .menu
        max-height 182px

    .all-card-type
        /*width 86px*/
        display inline-block

    .card-no
        padding 0 5px

    .card-type
        margin-right 5px






