.select-bank
    .bank-list

        width 600px
        li
            width 149px
            padding 10px 15px

            > img
                width 30px
                height 30px
                vertical-align middle
                margin-right 4px
    .money
        float right
        margin-right 40px
    .title
        width 100%
    .bank-container
        padding 10px 0

        .bank
            cursor pointer

