.wechart-pay
    .title
        width 100%
    .money
        float right
        margin-right 40px

    .body
        padding 40px 60px

        > div
            display inline-block
            vertical-align top

        .note
            text-align center
            padding 5px 0

        .guide-pic
            margin-left 40px