@import 'pc/common/variable.styl'

.account
    .navigator-container
        width 19%
        display inline-block
    > .floated
        width 80%

    .bind-bank-card
        .safe-tip
            text-align left
        .form
            display inline-block