@import 'pc/common/variable.styl'

.wallet-center

    $avatar = 50px

    > .header
        background url('/src/pc/center/img/bg-header.jpg') 0 50%
        background-size cover
        padding 30px 0
        margin 30px 0

        .middle-block
            position relative
            width 1000px
            margin 0 auto
            img
                width $avatar
                height $avatar
                border-radius 50%
                position absolute
                top 50%
                margin-top -($avatar / 2)
            > div
                margin-left $avatar + 20

    .reset-pay-password-form
        display inline-block

















