
.remind
    margin 15px 25px

.form
    > .group > .label
        width 120px
    > .footer
        padding-left 120px

.bank-icon
    margin-right 8px

.card-select,
.amount-input
    width 230px


.withdraw-success
    width 520px