@import 'pc/common/variable.styl'

.navigator
    background-color #fff

    > div
        padding $gap-medium 40px $gap-medium $gap-huge
        position relative
        text-align left

        .icon-chevron-right
            position absolute
            right 20px
            top 14px

    .selected
        color #fff
        background-color $brand-primary