@import 'pc/common/variable.styl'

.reset-pay-password-form

    .pay-password-input,
    .confirm-pay-password-input
        width 280px

    .group
        > .label
            width 130px

        &.footer
            margin-top 2 * $gap-huge

    .code-button
        margin-left $gap-small

    .icon-info-circle
        margin-right $gap-small
