<div class="form reset-pay-password-form">
    {{#if code}}

    <div class="group">
        <label class="label">
            新支付密码：
        </label>
        <div class="controls">
            <Input options="{{payPasswordInputOptions}}" />
            <div class="block">
                <div class="text info">
                    <i class="icon icon-info-circle"></i>
                    支付密码由6位数字组成
                </div>
            </div>
        </div>
    </div>
    <div class="group">
        <label class="label">
            确认新支付密码：
        </label>
        <div class="controls">
            <Input options="{{confirmPayPasswordInputOptions}}" />
        </div>
    </div>
    <div class="group footer">
        <div class="label"></div>
        <div class="controls">
            <div class="buttons">
                <button class="button primary" on-click="submit()"
                {{#if submiting}} disabled{{/if}}
                >
                    提交
                </button>
            </div>

        </div>
    </div>

    {{else}}

    <div class="group">
        <label class="label">
            手机号：
        </label>
        <div class="controls">
            <div class="label">
                <strong class="primary">
                    {{formatMobile(options.mobile)}}
                </strong>
            </div>
        </div>
    </div>
    <div class="group">
        <label class="label">
            校验码：
        </label>
        <div class="controls">
            <Input options="{{codeInputOptions}}" />
            <CodeButton options="{{codeButtonOptions}}" />
        </div>
    </div>
    <div class="group footer">
        <div class="label"></div>
        <div class="controls">
            <button class="button primary" on-click="next()">
                下一步
            </button>
        </div>
    </div>

    {{/if}}

    <style>
        {{style}}
    </style>
</div>