.date-picker
    display inline-block
    position relative

    .header
        > .icon
            top 18px

    > .input
        display block

    .date-select
        display inline-block

    .calendar td
        padding 8px 12px !important