.date-range
    position relative
    display inline-block

    > .menu
        width 553px
        padding 5px

    .calendar
        border 1px solid #EEE
        display inline-block
        position static
        box-shadow none

        + .calendar
            margin-left 5px

        .header
            > .icon
                top 18px

        .date-select
            display inline-block

        td
            padding 8px 12px !important

    .footer
        padding 10px 0 5px
        text-align right

