
.form
    > .group
        > .label
            width 140px

    > .footer
        padding-left 140px

    .name-input,
    .company-input,
    .mobile-input,
    .code-input
        width 139px

    .id-input,
    .card-num-input,
    .bank-select
        width 243px

    .bank-region
        .dropdown
            width 122px

    .bank-select
        img
            width 22px
            height 22px
            vertical-align top
            margin-right 5px

