@import 'pc/common/variable.styl'
@import 'common/mixin.styl'

.charge-by-ebank

    .dropdown
        width 440px

    .bank-group
        > .label
            text-align left

    .amount-input
        width 100px

    .select-note
        font-size $font-large
        color #5b5a55
        margin $gap-huge 0 $gap-medium 0

    .pay-style
        border 1px solid $brand-border
        color #5b5a55
        padding 0 20px

        > div
            padding 20px


        .reminder
            margin-left 5px

        .send-code
            border-top 1px solid $brand-divider

        .new-card
            padding 8px
            border 1px dashed $brand-muted
            font-size 12px

        .pay-money
            margin-left $gap-medium
            position relative
            bottom $gap-medium
            > span
                color #e76d2c
                font-size $font-large

