@import 'pc/common/variable.styl'

.container
    padding 10px
    text-align center
    background url('/src/common/img/emotion/naughty@2x.png') no-repeat 50% 30%
    background-color #fff
    .header
        font-size 26px
        font-weight bold
        margin 40px 0 170px

    > ul
        display inline-block
        text-align left

    .button
        display block
        width 150px
        margin 20px auto 60px
        padding 10px
        border-radius 4px


