
@import 'pc/common/variable.styl'
@import '../component/RecordDetail.styl'

.card-info
    float right
    width 220px
    height 132px
    text-align center

    .header
        padding 10px
        background-color #F5F5F5

    .body
        padding 15px 0

    .action
        margin-top 10px

    .label
        margin-right 5px

    .icon-plus
        background-color #ccc
        color #fff
        font-size 30px
        padding 4px
        margin 10px
        border-radius 2px

.money-info

    td
        padding 15px 20px
        border 1px solid $brand-border

    td.balance

        width 140px

    strong
        font-size 120%

    .button.withdraw
        margin-top 10px
        width 80px

.money-detail
    margin-top 20px
